/* General reset for padding and margins */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styling the navigation container */
nav {
  background-color: #fff; 
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

/* Unordered list styling */
nav ul {
  display: flex;
  width: 100%;
  list-style: none;
  align-items: center;
}

/* Group styling */
nav ul .left-group {
  display: flex;
  align-items: center;
  margin-right: auto;
}

nav ul .center-group {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

nav ul .right-group {
  display: flex;
  align-items: center;
  margin-right: 100px;
}

/* List item styling */
 nav ul .left-group li{
  margin-left: 120px;
  color: black;
  font-size: 20px;
  font-weight: 800;
}
nav ul li {
  margin: 0 15px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: white; 
}


nav ul li a {
  text-decoration: none;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease; 
}

/* Highlight effect on hover */
nav ul li a:hover {
  background-color: #555;
  color: #ddd; 
}

/*Seksioni i pare    rgb(254, 245, 203);*/
.first-section {
  background-color: #ebe4e2; 
  height: 850px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
 
}


.first-section > div {
  margin: 50px 0 0 150px;
}


.first-section h3 {
  font-size: 70px;
}

.first-section h5 {
  color: #946659;
  font-size: 18px;
  padding-bottom: 12px;
}

.buttons {
  padding-top: 20px;
  display: flex; 
  gap: 50px; 
}
button a {
  text-decoration: none;
  color: white; 


}
.buttons button {
  border-radius: 4px;
  width: 200px;
  height: 50px;
  gap: 50px;
 border: none;
}

.buttons button:first-child {
  background-color:  #946659;  
  color: white;
  border-radius: 3px;

}
.buttons button:first-child a {
  font-weight: 800;

}

.buttons button:nth-child(2) {
  background-color: white; 
  border-radius: 3px;
}

.buttons button:nth-child(2) a {
  color: black;
  font-weight: bold;
  font-weight: 600;
  border: none;
}


/* button:hover {
  background-color: #b17474; /* Example hover effect 
} */

.first-section img {
  margin-top: 80px;
  margin-right: 120px;
}

/***********************************************Seksioni i dyte ***********************************************/

.second-section {
  height: 300px;
}
.second-section h5 {
  margin-top: 120px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  font-family: 'DM Serif Display', serif;
  text-align: center;
  font-size: 22px;
  font-weight: bold;

}

.second-section .logos ul {
  display: flex;
  justify-content: center;
  gap: 70px;
  
}

.second-section .logos ul {
  list-style: none;
}

/***********************************************Seksioni i trete ***********************************************/

.third-section {
  text-align: center;
}

.third-section > div {
  display: flex;
  justify-content: center;
  gap: 70px;
}

.about-div {
  margin-left: 0;
  padding-left: 0;
}

.info-div {
  text-align: left;
}

.info-div h1 {
  color: #171921;
  font-size: 48px;
  font-weight: 400;
  font-weight: bold;
  font-family: 'DM Serif Display', serif;
  text-align: left;
  margin-top: 50px;
}

.info-div p {
  color:  #30333a;
  font-family: 'Sora', sans-serif;
  font-weight: 400;
  font-size: 17px;
  text-align: left;
  margin-bottom: 20px;
  line-height: 28px;
}

.info-div button {
  width: 170px;
  height: 50px;
  background-color: #946659; 
  color: white;
  border-radius: 3px;
  text-transform: uppercase;
  margin-bottom: 20px;
  left: 20px;
  border: none;
}

.info-div h4 {
  margin-bottom: 15px;
  margin-top: 20px;
  font-family: 'Sora', sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-weight: bold;

}

.info-div span {
  font-family: 'Sora', sans-serif;
  font-weight: 400;
  font-size: 15px;
}


.social-icons{
  display: flex;
  gap: 15px;
}
.social-icons i {
  font-size: 24px;
  color:  #946659; 
  background-color: white;  
  padding: 10px;
  border-radius: 50%;
  transition: background-color 0.3s ease, color 0.3s ease; 
}


/***********************************************Seksioni i Katert ***********************************************/

.fourth-section {
  background-color: #f7f0ef;
  height: 1000px;
  margin-top: 100px;
  text-align: center;
}

.fourth-section > div {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-align: center;
  gap: 20px;
}


.series {
  text-align: left;
  align-items: center;
  margin-left: 150px;
  margin-top: 350px;
}

.books-series {
  margin-top: 50px;
}
.books-series ul {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center;
  gap: 10px; 
  padding: 0;
  list-style: none;
}

.books-series li {
  width: 40%; 
}

.books-series img {
  width: 70%; 
  height: auto;
}

.series p {
  color:  #30333a;
  font-family: 'Sora', sans-serif;
  font-weight: 400;
  font-size: 17px;
  text-align: left;
  margin-bottom: 20px;
  line-height: 20px;
}

.series h1 {
    color: #171921;
    font-size: 48px;
    font-weight: 400;
    font-weight: bold;
    font-family: 'DM Serif Display', serif;
    text-align: left;
    margin-top: 10px;
  }

  .series h4 {
    margin-bottom: 15px;
    margin-top: 20px;
    font-family: 'Sora', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #946659;
  }


 .series button {
    width: 250px;
    height: 40px;
    background-color: #946659; 
    color: white;
    border-radius: 3px solid ;
    text-transform: uppercase;
    margin-bottom: 20px;
    left: 20px;
    font-size: 15px;
    font-weight: 600;
    border: none;
  }

 /******************************************Seksioni i 4++ **********************************************/

.section-todo {
  height: 850px;
  text-align: center;
  background-color:  #f5e5e1;;
}

.section-todo > div {
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.section-todo .text {
  text-align: left;
  margin-left: 200px;
}

.section-todo h1 {
  color: #171921;
  font-size: 48px;
  font-weight: 400;
  font-weight: bold;
  font-family: 'DM Serif Display', serif;
  text-align: left;
  margin-top: 10px;
}


.section-todo .text > p {
  color:  #30333a;
  font-family: 'Sora', sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-align: left;
  align-items: center;
  line-height: 25px;
 /* margin: 20px;*/
}
.section-todo button {
  width: 130px;
  height: 40px;
  background-color: #946659; 
  color: white;
  border-radius: 5px solid ;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 30px;
  left: 20px;
  font-size: 15px;
  font-weight: 600;
  border: none;
}

.container .reviews {
  border: 2px solid white;
  border-radius: 6px;
  background-color: white;
  width: 160px;
  height: 300px;
  margin: 20px;
  align-items: center;
}
.container .reviews p {
  color:  #30333a;
  font-family: 'Sora', sans-serif;
  font-weight: 400;
  font-size: 17px;
  text-align: left;
  align-items: center;
  line-height: 25px;
 margin: 20px;
}

.container .reviews .photo {
  display: flex;
  gap: 20px;
  margin-left: 30px;
}

.container .reviews .photo p{
  margin-top: 3px;
  margin-left: 5px;
}


.section-todo .container {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around; 
    gap: 20px; 
    align-items: center;
    margin-top: 60px;
    margin-right: 200px;
    padding-left: 0;
}


.section-todo .container .reviews {
  flex: 1 1 calc(35% - 40px); 
  box-sizing: border-box;
  margin-bottom: 20px;
}


  /*****************************************Seksioni i peste ********************************************/

  .fifth-section {
    text-align: center;
    height: 600px;
    margin-top: 100px;

  }
  
  .fifth-section > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
  }

  .image-div {
    margin-left: 100px;
  }
  .upcoming-book {
    text-align: left;
  }
  
  .upcoming-book h1 {
    color: #171921;
    font-size: 48px;
    font-weight: 400;
    font-weight: bold;
    font-family: 'DM Serif Display', serif;
    text-align: left;
    margin-top: 50px;
  }
  
  .upcoming-book p {
    color:  #30333a;
    font-family: 'Sora', sans-serif;
    font-weight: 400;
    font-size: 17px;
    text-align: left;
    margin-bottom: 20px;
    line-height: 28px;
  }
  
  .upcoming-book button {
    width: 170px;
    height: 50px;
    background-color: #946659; 
    color: white;
    border-radius: 3px;
    text-transform: uppercase;
    margin-bottom: 20px;
    left: 20px;
    border: none;
  }
  
  .upcoming-book h4 {
    margin-bottom: 15px;
    margin-top: 20px;
    font-family: 'Sora', sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-weight: bold;
  
  }

/*****************************************Seksioni i gjashte ********************************************/


.six-section {
  margin-top: 50px;
  text-align: center;
  height: 650px;
  background-color: #f7f0ef;

}

.six-section > div {
  display: flex;
  justify-content: center;
  gap: 50px;
}



.submit h1 {
  color: #171921;
  font-size: 48px;
  font-weight: 400;
  font-weight: bold;
  font-family: 'DM Serif Display', serif;
  text-align: left;
  margin-top: 200px;
  margin-bottom: 80px;
}

.six-section .submit {
  align-items: center;
  margin-left: 100px;
}


.submit input {
  width: 400px;
  height: 40px;
  background-color: white; 
  border-radius: 2px;
  margin-bottom: 20px;
  left: 20px;
  border: rgb(226, 43, 141);
  padding-left: 10px;
}


.submit button {
  width: 100px;
  height: 40px;
  background-color: #946659; 
  color: white;
  border-radius: 3px;
  text-transform: uppercase;
  margin-bottom: 20px;
  left: 20px;
  border: none;
}

.books ul {
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px; 
  padding: 0;
  list-style: none;
  margin-top: 80px;
}


/********************************************FOOTER*******************************************/

footer {
  background-color:#30333a;
  height: 250px;
}

 footer nav {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  margin-bottom: 80px;
  background-color:#30333a;
  align-items: center;
}

/* Unordered list styling */
footer nav ul {
  display: flex;
  width: 100%;
  list-style: none;
  align-items: center;
}

/* Group styling */
footer nav ul .left-group {
  display: flex;
  align-items: center;
  margin-right: auto;
}

 footer nav ul .center-group {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

footer nav ul .right-group {
  display: flex;
  align-items: center;
  margin-right: 100px;
}

/* List item styling */
footer nav ul .left-group li{
  margin-left: 120px;
  color: white;
  font-size: 20px;
  font-weight: 800;
}
footer nav ul li {
  margin: 0 15px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: white;
}

/* Styling for the anchor tags */
footer nav ul li a {
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease; 
}


footer p {
  color: white;
  text-align: center;
  margin-top: 50px;
}
